<section id = "contact" name = "contact"></section>
<div id = "footerwrap">
    <div class = "container">
        <div class = "col-lg-5">
            <h3>Contact</h3>
            <p><b>Github:</b> <a href = "https://github.com/ankitparihar" target = "_blank">@ankitsingh</a></p>
            <p><b>Email:</b> <a href = "mailto:ankit@webkorps.com">ankit@webkorps.com</a></p>
        </div>
        <div class = "col-lg-7">
            <h3>About The Project</h3><br>
            This is a demo project given by the company to learn <strong>Ruby on Rails</strong>. In this project there are two users <strong>Customer</strong> and <strong>Seller</strong>. It works as <strong>Online Food Ordering Application</strong> link <strong>Swiggy</strong>.
        </div>
    </div>
</div>
<div id = "c">
    <div class = "container">
        <p>Created using Visual Studio Code</p>
    </div>
</div>